<html lang="en">
	<head>
		<title>AE Wedding</title>
		<link rel="stylesheet" type="text/css" href="/css/style3.css">
	</head>
	<body>
		<h2>Hao Qiu</h2>
		<form method="get" action="/">
			<input type="submit" value="go home annie, emerson's waiting">
		</form>
			<p>Total Adults: <%= totalAdults %></p>
			<p>Total Kids: <%= totalKids %></p>

			<table id="guests">
				<col style="width:150px">
				<col style="width:150px">
  				<col style="width:300px">
  				<col style="width:100px">
  				<col style="width:100px">
  				<col style="width:150px">
  				<col style="width:400px">
  				<col style="width:150px">
				<tr>
					<th>Last Name</th>
					<th>First Name</th>
					<th>Mailing Address</th>
					<th>Number of Adults</th>
					<th>Number of Kids</th>
					<th>Accept/Decline</th>
					<th>Comments</th>
					<th>Delete</th>
				<% users.forEach(function(user){ %>
					</tr>
						<td><%= user.lastname %></td>
						<td><%= user.firstname %></td>
						<td><%= user.mailingaddress %></td>
						<td><%= user.numadults %></td>
						<td><%= user.numkids %></td>
						<td><%= user.acceptdecline %></td>
						<td><%= user.comments %> %></td>
						<td>
							<form method="post" action="deleteUser">
			        			<input type="hidden" name = "userID" value = <%= user._id %>>
								<input type="submit" value = "Delete" onclick="return confirm('Are you sure?')">
							</form>
						</td>
					</tr>
				<% }); %>
		<!--<ol>
    		<% users.forEach(function(user) { %>
    			<p>--------------------------</p>
        		<p><%= user.fullname %></p>
        		    Mailing Address: <%= user.mailingaddress %><br>
        		    Number of Adults: <%= user.numadults %><br>
        		    Number of Kids: <%= user.numkids %><br>
        		    Accept/Decline: <%= user.acceptdecline %></li>
        		<form method="post" action="deleteUser">
        			<input type="hidden" name = "userID" value = <%= user._id %>>
					<input type="submit" value = "Delete" onclick="return confirm('Are you sure?')">
				</form>
    		<% }); %>
		</ol>-->
	</body>
</html>