<html>
	<head>
		<title>A&E Wedding</title>
		<link rel="stylesheet" type="text/css" href="/css/style.css">
	</head>

	<body>
		<table class = "table">
			<tr>
				<td id = "tdtype4">02<br>13<br>16</td>
				<td class="tdpicture"><img src = "/img/Annie1.jpg"></td>
				<td id = "tdtype3">Wedding</td>
				<td id="tdtype1"><a href = "#popup1">RSVP</a></td>
			</tr>
			<tr>
				<td><img src = "/img/Annie1.jpg"></td>
				<td id = "tdtype5">Her</td>
				<td id = "tdtype3">Him</td>
				<td><img src="/img/Emerson1.jpg" ></td>
			</tr>
			<tr>
				<td id = "tdtype5"><a href = "#popup2">Gallery</a></td>
				<td><img src="/img/Emerson1.jpg" ></td>
				<td id="tdtype1"><a href = "#popup3">Registry</a></td>
				<td><img src = "/img/Annie1.jpg"></td>
			</tr>
		</table>

		<div id = "overlay">
			<div id="popup1" class="overlay">
				<div class="popup">
					<h2>RSVP</h2>
					<a class="close" href="#">&times;</a>
					<div class="content">
							<section class="container">
							<div class="login">
							<form method="post" action="login">
							<p><input type="text" name="password" value="" placeholder="Password"></p>
							<p>Incorrect Password.</p>
							<input type="submit" value="Login">
							</form>
							</section>
					</div>
				</div>
			</div>
		</div>

		<div id="popup2" class="overlay">
			<div class="popup">
				<h2>Gallery</h2>
				<a class="close" href="#">&times;</a>
				<div class = "gallery">
						<div class = "preview" align="center">
							<img name = "preview" src = "/img/Annie.jpg" alt=""/>
						</div>
						<div class = "thumbnails">
							<ul class = "images">
								<li><img onclick="preview.src=img1.src" name="img1" src="/img/Annie.jpg" alt="" /></li>
								<li><img onclick="preview.src=img2.src" name="img2" src="/img/Emerson.jpg" alt="" /></li>
								<li><img onclick="preview.src=img3.src" name="img3" src="/img/Annie.jpg" alt="" /></li>
								<li><img onclick="preview.src=img4.src" name="img4" src="/img/Emerson.jpg" alt="" /></li>
								<li><img onclick="preview.src=img5.src" name="img5" src="/img/Annie.jpg" alt="" /></li>
								<li><img onclick="preview.src=img6.src" name="img6" src="/img/Emerson.jpg" alt="" /></li>
							</ul>
						</div>
				</div>
			</div>
		</div>

		<div id="popup3" class="overlay">
			<div class="popup">
				<h2>Gifts</h2>
				<a class="close" href="#">&times;</a>
				<div class="content">
					Cash Only Please
				</div>
			</div>
		</div>
	</body>
</html>