<html>
	<head>
		<title>A&E Wedding</title>
		<link rel="stylesheet" type="text/css" href="/css/index.css">
    	
		<script src="/javascript/index.js"></script>
		

	</head>
		<body style="vertical-align:middle">
		<br>
		<center>
			<img src = "/img/main_logo_black.gif" id = "headerlogo">
			<br>
			<img src = "/img/leaves_green.gif" id = "homepagebranch">
		</center>
		<br>
		<table class = "table" align = "center">
			<tr>
					<td>		
				    	<a onclick="showPopup('invitation')" style = "display:block" height = "150px">
				    		<img src="/img/date.jpg" onmouseover="this.src='/img/invitationthumbnail.png'" height = "150px" onmouseout="this.src='/img/date.jpg'" />
						</a>
				</td>
				<td id = "tdtype4" style = "height:150px"></td>
				<td id = "tdtype2" style = "height:150px"><a onclick="showPopup('registry')">Registry</a></td>
				<td id="tdtype1" style = "height:150px"><a onclick="showPopup('rsvp')">RSVP</a></td>
			</tr>
			<tr>
				<td><img src = "/img/Annie2.jpg" style="width:150px; height:150px"></td>
				<td id = "tdtype4"><a onclick="showPopup('her')">HER</a></td>
				<td id = "tdtype3"><a onclick="showPopup('him')">HIS</td>
				<td><img src="/img/Emerson2.jpg" style="width:150px; height:150px"></td>
			</tr>
			<tr>
				<td id = "tdtype3"><a onclick="showPopup('gallery')">Gallery</a></td>
				<td id = "tdtype2"><a onclick="showPopup('ceremony')">Ceremony</a></td>
				<td id="tdtype1"><a onclick="showPopup('reception')">Reception</a></td>
				<td id = "tdtype4"></td>
			</tr>
		</table>
		<br>
		<br>
		<br>
		<div id="invitation" class="overlay">
			<div class="popup" style = "background-image:url('img/invitation.jpg'); background-repeat:no-repeat; background-size:100%; width:290px; height:570px; margin-top: 20px;">
				<a class="close" onclick="hidePopup('invitation')">&times;</a>
				<div class="content">					
				</div>
			</div>
		</div>		
		<div id="rsvp" class="overlay">
			
				<div class = "rsvp">
					<a class="close" onclick="hidePopup('rsvp')">&times;</a>
					<div class="content">

							<section class="container">
								<div class="login" id = "rsvpPopup">
								
									<div id = "RSVPHeader">
									<br>
									RSVP
									</div>
									<br>
									<p>
										<input id ="password" type="text" name="password" placeholder="PASSWORD">
										<br>
										<br>
										<input type="button" value="LOGIN" onclick="checkPassword()"id = "loginButton">
									</p>
							</section>
					</div>
				</div>
			
		</div>

		

		
		<div id="registry" class="overlay">
				<div class = "registry">
					<div class="content">
								<a class="close" onclick="hidePopup('registry')">&times;</a>
								<br>
								<img src = "/img/registryblack.gif" id = "registryheader">
								<br>
								<br>
								<p style="text-align:center">
									THANK YOU FOR THINKING OF US!  WE ARE CURRENTLY REGISTERED WITH <b><a href = "http://www.crateandbarrel.com/gift-registry/annie-lee-and-emerson-lin/r5434982" target = "_blank" style="color:#324972">CRATE&BARREL</a></b>.
								</p> 
								<img src = "/img/Ceremony_Leaves.gif" id = "registrybranch">
								<p style="text-align:center"> 
									IF YOU WOULD LIKE TO GIVE, PLEASE SHIP ALL ITEMS TO:
								</p>
								<p style="text-align:center">
									EMERSON LIN<br>
									12052 RUE DES AMIS<br>
									SAN DIEGO, CA 92131
								</p>	

					</div>
				</div>
			
		</div>
		<div id="ceremony" class="overlay">
			<div class="popup" style = "background-image:url('img/kairos_ceremony_compress.gif'); background-repeat:no-repeat; background-position: right bottom; background-size:47%">
				<a class="close" onclick="hidePopup('ceremony')">&times;</a>

				<div class="content" style = "color:black">
					<table id = "ceremonytable">
						<tr>
							<td id = "ceremonytableheader">
								<br>
								<img src = "/img/ceremony_ring.gif" style ="width:60%">
							</td>
						</tr>
						<tr>
							<td id = "ceremonytableinfo">
								<br>
								<div style = "font-size: 80%; text-align:center">				
									KAIROS CHRISTIAN CHURCH<br>
									7875 CONVOY COURT, SUITE 3<br>
									SAN DIEGO, CA 92111<br>
								</div>
							</td>
						</tr>
						<tr>
							<td id = "ceremonytablemap">
								<a href = "https://goo.gl/maps/eKf89N6i2Ht" target = "_blank">
									<img src = "/img/map.gif" style = "margin-top:-5px; padding-bottom:10px" width = "17%">
								</a>
							</td>
						</tr>
						<tr>
							<td id = "ceremonytablenote">	
								<div style="position: relative; bottom: 0px; font-size:60%">
									<b>PLEASE NOTE |</b>
			    				DUE TO LIMITED PARKING AND SEATING AT THE CHURCH WE ENCOURAGE ALL GUESTS TO ARRIVE AT LEAST 15 MINUTES PRIOR TO HAVE EVERYONE SITUATED.  DOORS WILL CLOSE ONCE THE CEREMONY BEGINS.
			   					</div>			   					
			   				</td>
			   			</tr>
						<tr>
							<td id = "ceremonytablebegin">
								<img src = "/img/ceremony_leaves_berries.gif" style ="width:30%; padding-bottom:10px">
								<div style = "font-size: 90%"><b>CEREMONY WILL BEGIN AT 3PM</b></div><br>
							</td>
						</tr>						
			   		</table>
				</div>
			</div>
		</div>



		<div id="reception" class="overlay">
			<div class="popup" style = "background-image:url('img/Reception_Venue2.gif'); background-repeat:no-repeat; background-position: bottom center; background-size:100%">
				<a class="close" onclick="hidePopup('reception')">&times;</a>
				<div class="content" style = "text-align:center; color:black">
					<table id = "receptiontable">
						<tr>
							<td id = "receptionheader">
								<img src = "/img/reception_ring.gif" style ="width:150%; position: relative; bottom:0">
							</td>
							<td id = "receptioninfo">
					
								<div style = "text-align: center; ">

								<h3 style = "line-height:30%">JOIN US FOR DINNER AND DANCING!</h3>
								<br>
								BRICK<br>
								2863 HISTORIC DECATUR ROAD<br>
								SAN DIEGO, CA 92106<br>
								<br>
								<a href = "https://goo.gl/maps/5ju6UKLceor" target = "_blank"><img src = "/img/map.gif" style = "margin-top:-5px" width = "15%"></a>
								<br>								
								<img src = "/img/reception_leaf.gif" id = "receptionleaf">										
								<b>RECEPTION WILL BEGIN AT 5:30PM</b>		
								</div>
							</td>
						</tr>
					</table>

				</div>
			</div>
		</div>

		<div id="gallery" class="overlay">
			<div class="popup" style = "background-image:url('img/home_page_wood_compress.jpg'); background-repeat: cover;
  			background-image: url('/img/home_page_wood_compress.jpg'); -webkit-background-size: cover; -moz-background-size: cover; -o-background-size: cover; background-size: cover;">
				<!--
				<img src = "/img/coming_soon_black.gif" id = "comingsoonheader">-->
				<a class="close" onclick="hidePopup('gallery')">&times;</a>
				
					<img src = "/img/galleryblack.gif" id = "galleryheader">
				
				
				

		
				<div class = "gallery" style= "z-index:1">
						<div class = "preview" align="center" >
							<img name = "preview" src = "/img/gallery/AnnieEmerson-Engaged_0016.jpg" alt=""/>
						</div>
							<div class = "thumbnails" align="center">
							<ul class = "images">
								<li><a><img onclick="preview.src=img1.src" name="img1" src="/img/gallery/AnnieEmerson-Engaged_0016.jpg" alt="" /></a></li>
								<li><a><img onclick="preview.src=img2.src" name="img2" src="/img/gallery/AnnieEmerson-Engaged_0024.jpg" alt="" /></a></li>
								<li><a><img onclick="preview.src=img3.src" name="img3" src="/img/gallery/AnnieEmerson-Engaged_0038.jpg" alt="" /></a></li>
								<li><a><img onclick="preview.src=img4.src" name="img4" src="/img/gallery/AnnieEmerson-Engaged_0046.jpg" alt="" /></a></li>
								<li><a><img onclick="preview.src=img5.src" name="img5" src="/img/gallery/AnnieEmerson-Engaged_0081.jpg" alt="" /></a></li>
								<li><a><img onclick="preview.src=img6.src" name="img6" src="/img/gallery/AnnieEmerson-Engaged_0105.jpg" alt="" /></a></li>
								<li><a><img onclick="preview.src=img5.src" name="img7" src="/img/gallery/AnnieEmerson-Engaged_0112.jpg" alt="" /></a></li>
								<li><a><img onclick="preview.src=img8.src" name="img8" src="/img/gallery/AnnieEmerson-Engaged_0116.jpg" alt="" /></a></li>
								<li><a><img onclick="preview.src=img9.src" name="img9" src="/img/gallery/AnnieEmerson-Engaged_0117.jpg" alt="" /></a></li>
								<li><a><img onclick="preview.src=img10.src" name="img10" src="/img/gallery/AnnieEmerson-Engaged_0127.jpg" alt="" /></a></li>
								<li><a><img onclick="preview.src=img11.src" name="img11" src="/img/gallery/AnnieEmerson-Engaged_0144.jpg" alt="" /></a></li>
								<li><a><img onclick="preview.src=img12.src" name="img12" src="/img/gallery/AnnieEmerson-Engaged_0154.jpg" alt="" /></a></li>
								<li><a><img onclick="preview.src=img13.src" name="img13" src="/img/gallery/AnnieEmerson-Engaged_0157.jpg" alt="" /></a></li>
								<li><a><img onclick="preview.src=img14.src" name="img14" src="/img/gallery/AnnieEmerson-Engaged_0172.jpg" alt="" /></a></li>
								<li><a><img onclick="preview.src=img15.src" name="img15" src="/img/gallery/AnnieEmerson-Engaged_0180.jpg" alt="" /></a></li>
								

							</ul>
						</div>
						<div id = "credits">
						Photos by Perpixel Photography
						</div>

				</div>
				
			</div>
		</div>
		<div id="him" class="overlay">
			<div class="popup" style = "background-image:url('img/logo.jpg'); background-size:cover">
				<a class="close" onclick="hidePopup('him')">&times;</a>
				<div class="content" >				
					<br>
					<img src = "/img/groomsmenblack.gif" id = "hisAndHerHeader">
					<br>
					<br>					
					<img src = "/img/groomsmen.gif" id = "hisAndHerImg">
				</div>
			</div>
		</div>
		<div id="her" class="overlay">
			<div class="popup" style = "background-image:url('img/logo.jpg'); background-size:cover">
				<a class="close" onclick="hidePopup('her')">&times;</a>
				<div class="content">
					<br>
					<img src = "/img/bridesmaidsblack.gif" id = "hisAndHerHeader">
					<br>
					<br>
					<br>
					<img src = "/img/bridesmaids.gif" id = "hisAndHerImg">
				</div>
			</div>
		</div>
	</body>
</html>