<!DOCTYPE html>
<html>
	<head>
		<title>A&E Wedding</title>
		<link rel="stylesheet" type="text/css" href="/css/rsvpform.css">
		<script src="/javascript/rsvpform.js"></script>
		
	</head>
	<body>
		<section class="container">
			<table style = "margin-right:auto; margin-left:auto; background: -moz-linear-gradient(#8A9DAD 55%, #FFFFFF 50%);
	background: -webkit-linear-gradient(#8A9DAD 55%, #FFFFFF 50%); background: linear-gradient(#8A9DAD 55%, #FFFFFF 50%);background-repeat: no-repeat;">
				<tr>
					<td style = "padding-left:20px; padding-right:20px; padding-bottom:20px; padding-top:0px">
						<table id = "RSVPtable" cellpadding = "0" style = "padding-top:0px">
							<tr>
								<td colspan = "2"  id = "img" >
									<img src= "/img/Annie12_compress.jpg" width="536">
								</td>		
							<form method="post" action="signup">
								<tr>
									<td id = "enterName" style = "font-size:110%">
										FIRST NAME*:&nbsp;
									</td>
									<td style  = "padding-top:20px" >									
											<textarea type="text" name="firstName" value=""  cols ="15" rows = "1" wrap = "hard" style= "vertical-align:-5px" required></textarea>
									</td>
								</tr>
								<tr >	
									<td id = "enterName2" style = "font-size:110%">
										LAST NAME*: &nbsp;
									</td>
									<td>
										<textarea type="text" name="lastName" value="" cols ="15" rows = "1" wrap = "hard" style = "vertical-align:-5px" required></textarea>
									</td>
								</tr>
								<tr>
									<td id = "address" style= "vertical-align: middle; font-size:110%" >

										ADDRESS*:&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
									</td>
									<td style = "float:left; text-align: left; padding-top:10px">
											<textarea type="text" name="MailingAddress" value="" placeholder="STREET, CITY, STATE, ZIP CODE" cols ="25" rows = "4" style = "float: left;" wrap = "hard" required></textarea>
											<br>
									</td>
								</tr>
								<tr>
									<td id = "selectNum" colspan = "2">
									<input id="accept" type="checkbox" name="Accepts" value="Accepted" onclick="uncheck(1)" required>
									<label for ="accept">GLADLY ACCEPTS*</label>
									</td>
								<tr>
									<td id = "selectNum" colspan = "2">
						  				<input id="decline" type="checkbox" name="Declines" value="Declined" onclick="uncheck(0)" required> 
						  				<label for ="accept">REGRETFULLY DECLINES*</label>
					  				</td>
					  			</tr>	  		
								<tr>
									<td id = "selectNum">
									NUMBER OF ADULTS
									</td>
									<td id = "numberAdults">
										<select name = "numberAdults">
					  						<option value="1" selected="selected">1</option>
					  						<option value="2">2</option>
					  						<option value="3">3</option>
					  						<option value="4">4</option>
					  						<option value="5">5</option>
					  						<option value="6">6</option>
					  						<option value="7">7</option>
					  						<option value="8">8</option>
										</select>
									</td>
								</tr>
								<tr>
									<td id = "selectNum">
									NUMBER OF KIDS
									</td>
									<td id = "numberKids">
										<select name = "numberKids">
					  						<option value="0">0</option>
					  						<option value="1">1</option>
					  						<option value="2">2</option>
					  						<option value="3">3</option>
					  						<option value="4">4</option>
					  						<option value="5">5</option>
										</select><br>
									</td>
								</tr>
								<tr>	
									<td id = "comments" style= "vertical-align: middle; font-size:110%" >
										COMMENTS:&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
									</td>
									<td style = "float:left; text-align: left; padding-top:10px">
										<textarea type="text" name="Comments" value="" placeholder="OPTIONAL" cols ="25" rows = "4" style = "float: left;" wrap = "hard"></textarea>
									</td>
								</tr>
					  			<tr>
					  				<td colspan = "2" id = "submit">
										<input type="submit" value="SUBMIT" id = "popUpYes" >
										<% if (locals.error) {%>
											<p style="width:425px; color:red"><%= error %></p>
										<% } %>
									</td>
								</tr>
							</form>
						</table>
					</td>
				</tr>
			</table>
		</section>
	</body>
</html>