<!DOCTYPE html>
<html>
<body>
	<section class="container">
		<div class="login">
		<form method="post" action="signup">
			<p><input type="text" name="username" value="" placeholder="Username"></p>
			<p><input type="text" name="password" value="" placeholder="Password"></p>
			<input type="submit" value="Sign up">
		</form>
	</section>
</body>
</html>
