<html lang="en">
	<head>
		<title>A&E Wedding</title>
		<link rel="stylesheet" type="text/css" href="/css/style4.css">
		
	</head>
	<body style = "background-image:url('img/ThanksBlack.gif'); background-size:cover">
		<form method="get" action="/">
			<div class = "container" align="center" id = "thanks">
				<img src="img/thank_you_black.gif" style="width:40%">
			</div>

			<div class = "container" align="center" id = "home">
				<button type="submit" style= "border:0; background: transparent; cursor: pointer">
	    			<img src="img/home_button.gif" alt="submit" style="width:50px; height:50px"/>
				</button>
			</div>
		</form>
	</body>
</html>