<html>
	<html lang="en">
	<head>
		<title>AE Wedding</title>
		<link rel="stylesheet" type="text/css" href="/css/style.css">
	</head>
	<body>
		<h2>Loop</h2>
		<ul>
    		<% users.forEach(function(user) { %>
        		<li><%= user.fullname %></li>
        		<li><%= user.mailingaddress %></li>
        		<li><%= user.numadults %></li>
        		<li><%= user.numkids %></li>
        		<li><%= user.acceptdecline %></li>
    		<% }); %>
		</ul>
	</body>
</html>