@font-face {
  font-family: 'MontserratLight';
  src: url(/fonts/Montserrat-Light.otf);
}
@font-face{

  font-family: 'MontserratUltraLight';
  src : url(/fonts/Montserrat-UltraLight.otf);
}
body {
  font-family: 'MontserratLight', sans-serif;
  background-repeat: cover;
  background-image: url('/img/home_page_wood_compress.jpg');
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
}

table{
  position: static;
  table-layout: fixed;
  border:3px solid black;
  padding:10px;
  font-size: 25px;
}

td
{
  text-transform: uppercase;
  color:white;
  height: 150px;
  width: 150px;
  max-height: 150px;
  max-width: 150px;
  min-height: 150px;
  min-width: 150px;
  border: solid white 2px;
  text-align: center;
}
a{
  cursor:pointer;
}
/****************************************/
/*!!!!!! REGISTRY POPUP SETTINGS!!!!*/
.registry
{
  background-image: url('/img/registry.gif');
  color:black; /*#324972*/
  max-height: 500px;
  background-repeat: no-repeat;
  background-size: cover;
  margin-top: 30px;
  margin-bottom: auto;
  margin-right: auto;
  margin-left: auto;
  padding-top: 3px ;
  padding-left: 50px;
  padding-right: 50px;
  padding-bottom:3px;
  height:500px;
  width: 650px;
  position: relative;
  transition: all 200ms ease-in-out;
  border-radius: 5px;
  letter-spacing: 2px;
}

.registry a{  
  color:rgb(0,0,0);
}

/*close popup window settings*/
.registry .close {
  position: absolute;
  top: 20px;
  right: 30px;
  /*Transition for going in an out of popup*/
  transition: all 200ms;
  font-size: 30px;
  font-weight: bold;
  text-decoration: none;
  color: #white;
  z-index:20;
}

.registry .close:hover {
  color:rgb(121,131,152);
}

/****************************************/
/*Custom popup settings for RSVP window*/
.rsvp
{
  background-image: url('/img/rsvpLogin.jpg');  
  max-height: 500px;
  background-repeat: no-repeat;
  background-size: cover;
  margin-top: 30px;
  margin-bottom: auto;
  margin-right: auto;
  margin-left: auto;
  padding: 20px ;
  height:500px;
  width: 650px;
  padding-top: 3px ;
  padding-left: 50px;
  padding-right: 50px;
  padding-bottom:3px;
  position: relative;
  transition: all 200ms ease-in-out;
  border-radius: 5px;
}

.rsvp a{ 
  color:white;
}

.rsvp a:hover{
  color:rgb(121,131,152);
}

/*close popup window settings*/
.rsvp .close {
  position: absolute;
  top: 20px;
  right: 30px;
  /*Transition for going in an out of popup*/
  transition: all 200ms;
  font-size: 30px;
  font-weight: bold;
  text-decoration: none;
  color: #white;
  z-index:20;
}

.rsvp .close:hover {
  color:rgb(121,131,152);
}

/*RSVP popup settings*/
#RSVPHeader
{
  display: inline;
  font-size: 30px;
  color:white;
  letter-spacing: 5px;
}

#password
{
  height:26px;
}

/*RSVP login button settings*/
#loginButton
{
  width: 70px;
  height: 26px;
  background-color: rgb(40,40,40); color:white;
  border: 2px solid rgb(120,120,120);
  font-size: 70%;
  letter-spacing: 1px;
}

/*************************************************/
/*general popup settings*/
.popup {
  margin-top: 30px;
  margin-bottom: auto;
  margin-right: auto;
  margin-left: auto;
  padding-top: 3px ;
  padding-left: 50px;
  padding-right: 50px;
  padding-bottom:3px;
  letter-spacing: 1px;
  background: #fff;
  height:500px;
  width: 700px;
  color: black;/*#324972*/ 
  position: relative;
  transition: all 200ms ease-in-out;
  border-radius: 5px; 
}

.popup a{
  color:#324972;
}

.popup a:hover{
  color:rgb(121,131,152);
}

/*close popup window settings*/
.popup .close {
  position: absolute;
  top: 20px;
  right: 30px;
  /*Transition for going in an out of popup*/
  transition: all 200ms;
  font-size: 30px;
  font-weight: bold;
  text-decoration: none;
  color: #333;
  z-index:20;
}

.popup .close:hover {
  color:rgb(121,131,152);
}

/*********************************************/
/*TABLE ADJUSTMENTS*/
#tdtype1
{
 background-color: rgb(46,46,46);
}

#tdtype2
{
  background-color: rgb(172,171,166);
}

#tdtype3
{
  background-color: rgb(120,120,120);
}

#tdtype4
{
  background-color: rgb(77,77,77);
}

#tdtype5
{
  background-color: rgb(163,158,158);
}

.table a
{
  display:block; width: 100%; margin:auto;
  text-decoration: none !important;
  color:white;
}

/*******************************************/
/**MISCELLANEOUS ADJUSTMENTS*/


a:hover{
  color:rgb(121,131,152);
}

.box {
  width: 40%;
  margin: 0 auto;
  padding-top:20px;
  text-align: center;
}

.button {
  font-size: 1em;
  padding: 10px;
  color: black;
  background: rgba(73,73,73,0.2);
  border: 5px solid black;
  border-radius: 20px/50px;
  text-decoration: none;
  cursor: pointer;
  }

.button:hover {
  background: rgba(73,73,73, 0.7);
}

#ceremonytable
{
  border:1px; 
  border-color: black; 
  padding: 0px; 
  float:left; 
  position:relative; 
  vertical-align:top; 
  top: -15px; 
  right: 10px; 
  margin-right:auto; 
  margin-left:auto;
}

#ceremonytableheader
{
  color:black; 
  width:43%; 
  border:none; 
  font-size:70%; 
  margin-left:auto;
  margin-right:auto; 
  padding-left:0%; 
  padding-right:0%; 
  padding-bottom:0px;
}


#ceremonytableinfo
{
  color:black; 
  height:100%; 
  border:none; 
  font-size:70%; 
  margin-left:auto; 
  margin-right:auto; 
  padding-left:0%; 
  padding-right:0%; 
  padding-bottom:10px;
}

#ceremonytablemap
{
  color:black;  
  height:100%; 
  border:none; 
  font-size:70%; 
  margin-left:auto; 
  margin-right:auto; 
  padding-left:0%; 
  padding-right:0%;
}

#ceremonytablenote
{
  color:black;  
  height:100%; 
  border:none; 
  font-size:70%; 
  margin-left:auto; 
  margin-right:auto; 
  padding-left:0%; 
  padding-right:0%; 
  padding-top:2px; 
  padding-bottom:5px;
}

#ceremonytablebegin
{
  color:black;  
  height:100%; 
  border:none; 
  font-size:70%; 
  margin-left:auto; 
  margin-right:auto; 
  padding-left:0%; 
  padding-right:0%;
}


#comingsoonheader
{
  width:50%; 
  position: absolute; 
  top: 0; 
  bottom: 0; 
  left: 0; 
  right: 0; 
  margin: auto;
}

#credits
{
  text-align: center;
  padding-top: 1px;
  padding-bottom: 0px;
  text-transform: uppercase;
  font-size: 55%;
}

/*Image gallery settings*/
div > img {
  display:block; 
  max-width: 90%;
  max-height: 90% !important;
}

#hisAndHerHeader
{
  width:40%; 
  float:top; 
  margin-right:auto; 
  margin-left:auto;
}
#hisAndHerImg
{
  width:100%; 
  padding-top:-500px; 
  margin-right:auto; 
  margin-left:auto;
}
#headerlogo
{
  width:234px; 
  height:116px; 
  float:top; 
  margin-left:auto; 
  margin-left:auto; 
  margin-top:0px;
}
#homepagebranch
{
  width:30%; 
  float:top; 
  margin-left:auto; 
  margin-left:auto; 
  margin-top:0px;
  margin-botom:0px; 
  padding:0px;
}



.preview img {
  border: 0px;
  padding-top: 0px;
  max-height: 355px !important;
}

#registryheader
{
  width:40%; 
  float:top; 
  margin-right:auto; 
  margin-left:auto;
}
#galleryheader
{
  width:40%; 
  float:top; 
  margin-right:auto; 
  margin-left:auto;
  margin-bottom: 5px;
  margin-top: 10px;
}
#registrybranch
{
  width:60%; 
  margin-left:auto; 
  margin-right:auto;
}

#receptiontable
{
  border:1px; 
  padding: 0px; 
  float:center; 
  position:relative; 
  vertical-align:top; 
  top: 45px; 
  margin-right:auto; 
  margin-left:auto;
}

#receptionheader
{
  color:black; 
  width:400px; 
  border:none; 
  padding-top:0px; 
  padding-right: 90px;
}

#receptioninfo
{
  color:black; 
  width:400px; 
  border:none; 
  width: 80%; 
  font-size:70%;
}

#receptionleaf
{
  width:35%; 
  margin-right:auto; 
  margin-left:auto; 
  margin-top:12px; 
  margin-bottom:12px;
}

.thumbnails
{
  margin-right: auto;
  margin-left: auto;
  padding-left: 34px;
}
.thumbnails img {
  height: 37px;
  border: 1px solid black;
  max-height: 10%
  display:block; 
}

.thumbnails img:onclick {
  border: 2px solid #324972;
  cursor:pointer;
}


ul{
    display: block;
    list-style-type: disc;
    -webkit-margin-before: 1em;
    -webkit-margin-after: 1em;
    -webkit-margin-start: 0px;
    -webkit-margin-end: 0px;
    -webkit-padding-start: 0px;
    width: 550px;
}
ul.images{
  margin-right: 2em;
   overflow-x: auto;
   white-space: nowrap; 
  margin-top:0.1em;  
  margin-bottom: 0.3em;

 
}

ul.images li{
    display:inline;
}
/*View Map Button settings*/
#viewMap
{ 
  height: 26px;
  background-color: white; color: black;
  border: 1px solid black;
  font-size: 90%;
}

/*Greyed out overlay when popup active*/
.overlay {
  position: fixed;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  background: rgba(0, 0, 0, 0.7);
  visibility: hidden;
  opacity: 0;
  transition: all 200ms;
}
.overlay:target {
  visibility: visible;
  opacity: 1;
}