@font-face {
  font-family: 'MontserratLight';
  src: url(/fonts/Montserrat-Light.otf);
}

@font-face{
  font-family: 'MontserratUltraLight';
  src : url(/fonts/Montserrat-UltraLight.otf);
}
body {
	font-family: 'MontserratLight', Times;
	background-repeat: cover;
	background-image: url('/img/home_page_wood_compress.jpg');
	-webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
	background-size: cover;
}
table
{
	border:1px solid rgb(121,131,152);
	background-color: white;
	border-collapse: collapse;
	border-spacing:0;
	letter-spacing: 2px;
	margin-top: 20px;
}


#popUpYes
{
  width: 120px;
  height: 50px;
  background-color: #324972; color:white;
  border: 2px solid #324972;
  font-size: 100%;
  letter-spacing: 3px;
  
}
#popUpYes:hover
{
  width: 120px;
  height: 50px;
  background-color: white;
  color: #324972;
  font-size: 100%;
  letter-spacing: 3px;
}

#img img {
	vertical-align: bottom;
}
#RSVPtitle
{
  font-size: 400%;
  text-align:center; 
  vertical-align:middle;
}
#enterName
{
	padding-top:30px;
	padding-bottom:10px;
	padding-left: 30px;
	padding-right: 0px;
}

#enterName2
{
	padding-top:10px;
	padding-bottom:10px;
	padding-left: 30px;
	padding-right: 0px;
}

#address 
{
	padding-top: 10px;
	padding-left:30px;
}
#submit
{
	text-align:center; 
  	vertical-align:middle;
  	padding:50px;
  	padding-bottom: 70px;
}

#selectNum
{
	font-size: 110%;
	-webkit-text-size-adjust: 100%;
	padding-top:10px;
	padding-bottom: 10px;
	padding-left: 30px;
}

#comments
{
	padding-top:10px;
	padding-left:30px;
}
#title td
{
	text-align:center; vertical-align:middle;
	font-size: 400%;
	font-family: 'MontserratUltraLight', Times;
}

#RSVPtable
{
  margin-right: auto;
  margin-left: auto;
  padding-top: 0px;
}
#title
{
	text-align: center;
	margin-left: auto;
	margin-right: auto;
	align-content:center;
}
.myDiv  {
position: relative; /*Parent MUST be relative*/
z-index: 9;
background: white;
}

textarea
{
	resize:none;
	font-size: 100%;
}