@font-face {
  font-family: 'MontserratLight';
  src: url(/fonts/Montserrat-Light.otf);
}

@font-face{
  font-family: 'MontserratUltraLight';
  src : url(/fonts/Montserrat-UltraLight.otf);
}
body {
  font-family: 'MontserratLight', sans-serif;
  background-size: cover;
  background-repeat: no-repeat;
  background-image: url('/img/logo.jpg')
}

p {
  text-transform: uppercase;
  color: solid rgb(121,131,152);
  font-size:15px;
}

table{
  position: static;
  table-layout: fixed;
  border:3px solid rgb(121,131,152);
  padding:20px;
  font-size: 15px;
}

td
{
  padding: 10px 20px;
  text-transform: uppercase;
  color:solid rgb(121,131,152);
  border: solid white 2px;
  text-align: center;
}