 @font-face {
  font-family: 'MontserratLight';
  src: url(/fonts/Montserrat-Light.otf);
  
}

@font-face{
  font-family: 'MontserratUltraLight';
  src : url(/fonts/Montserrat-UltraLight.otf);
}

table{
  align-content:center;
  margin-right: auto;
  margin-left: auto;
  table-layout: fixed;
}

td
{
  align-content:center;
  margin-right: auto;
  margin-left: auto;
  text-align: center;
}
@font-face {
  font-family: 'MontserratLight';
  src: url(/fonts/Montserrat-Light.otf);
  
}

body {
  font-family: 'MontserratLight', sans-serif;
  background-size: cover;
  background-repeat: no-repeat;
  background-image: url('/img/Thanks.jpg')
}

.goHome {
  background-image: url('/img/home.jpg');
}

#thanks {
  padding-top:15%;
}
#home {
  padding-top:1%;
}